<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perguntas e Respostas</title>

    <!-- Sempre coloque o link do Bootstrap acima do Style.css, se não irá dar erro no carregamento -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">

    <!-- Esse vem depois do Bootstrap -->
    <link rel="stylesheet" href="/css/style.css">
</head>